@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
@layer utilities {
    .background-blob-left {
        position: absolute;
        top: 10;
        left: 5;
        width: 40vmax;
        z-index: -1;
    }
    .background-blob-right {
        position: absolute;
        top: 5;
        left: 30;
        width: 40vmax;
        z-index: -1;
    }
    .bg-yellow {
        background-color: #F1C21B;
    }
    .bg-pink {
        background-color: #FFD6E8;
    }
}

/* Your own custom utilities */
